BOUNDLESS_API_PERMANENT_TOKEN=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpSWQiOjI0OTYsImNJZCI6IlFYc0lMa2ZkU0VtajV1TnVPIiwiaWF0IjoxNjk5ODgyMTg5fQ.9z6DIGIQwsw53PMLm536iVx1iz2K8OMiGTi5_wSvWE0K-oyLh_CxIziYWnq-tNORcxUiI8GcsPOsOvIA8A2gnA
BOUNDLESS_INSTANCE_ID=2496

# Optional params:
# BOUNDLESS_BASE_URL=< your shop url, i.e. http://www.myshop.com >
# BOUNDLESS_PRODUCTS_IMAGE_PROPORTION=

# For dev team:
# BOUNDLESS_API_BASE_URL=https://api.rick.dev.boundless-commerce.com
# BOUNDLESS_S3_PREFIX=dev-rick
# BOUNDLESS_MEDIA_SERVER=https://dev-img.boundless-commerce.com